@font-face {
    font-family: 'Sofia Pro b';
    src: url('../fonts/SofiaProBold.eot');
    src: local('../fonts/Sofia Pro Bold'), local('../fonts/SofiaProBold'),
        url('../fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProBold.woff') format('woff'),
        url('../fonts/SofiaProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro r';
    src: url('../fonts/SofiaProRegular.eot');
    src: local('../fonts/Sofia Pro Regular'), local('../fonts/SofiaProRegular'),
        url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProRegular.woff') format('woff'),
        url('../fonts/SofiaProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro m';
    src: url('../fonts/SofiaProMedium.eot');
    src: local('../fonts/Sofia Pro Medium'), local('../fonts/SofiaProMedium'),
        url('../fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProMedium.woff') format('woff'),
        url('../fonts/SofiaProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro sb';
    src: url('../fonts/SofiaProSemiBold.eot');
    src: local('../fonts/Sofia Pro Semi Bold'), local('../fonts/SofiaProSemiBold'),
        url('../fonts/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProSemiBold.woff') format('woff'),
        url('../fonts/SofiaProSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

